* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --verdecolor: #164505;
    --turcoazcolor: #4CCE8E;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #000;
    display: flex;
}


/* NAVBAR */

li.nav-item {

    list-style: none;
    margin: 20px 20px;
    margin-right: 23px;
    font-size: 14px;
    color: var(--verdecolor);
    font-weight: bold;
}

button.nav-item {
    background-color: var(--turcoazcolor);
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 20px 40px;
    border-radius: 20px;
    border: solid var(--turcoazcolor);
    font-size: 14px;
}


.container-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    z-index: 2;
    position: relative;
}

.logo {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.titluri {
    align-self: center;
}

.logo-icon {
    width: 10%;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.telefon {
    align-self: center;
    margin-left: 10px;
    color: #164505;
    font-size: 16px;
}


.telefon-icon {
    margin-left: 100px;
    width: 2%;
}

.iteme {
    display: flex;
    flex-direction: row;
    margin-right: 150px;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

/* CONTENT */

.servicii-imagine {
    width: 50%;
}
.text{
    width: 70%;
    margin-bottom: 10%;
} 

.pozaServicii {
    width: 60%;
    position: relative;
    z-index: 2;
    margin-left: 20%;
    margin-bottom: 65%

}

.backgroundServicii {
    width: 20%;
    margin-top: 28%;
    margin-left: 6%;
    margin-bottom: 10%;
    background-color: #fff;
    position: absolute;
    z-index: 1;
}

#certificates {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

#certificates h2 {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10%;
        font-size: 1.3em;
        margin-top: 20%;
    }

#certificates .servicii p {
    padding-left: 1%;
    margin-top: 1%;
}

#certificates .servicii-1 p {
    padding-left: 1%;
    margin-top: 1%;
}


#certificates ul li {
    align-self: flex-end;
    list-style: none;
    color:  black;
    font-size: 1.2rem;
    margin-right: 10%;
    margin-top: 1%;
    text-align: justify;
}

#certificates ul li::before {
    padding: 5px;
    content: "Ｏ";
    color: #4CCE8E;
}

/* FOOTER */



@media screen and (max-width: 1220px) {

    .servicii-imagine {
        width: 60%;
        margin-bottom: 5%;
    }
    
    .backgroundServicii {
        width: 24%;
        margin-top: 35%;
        margin-left: 6%;
        margin-bottom: 10%;
        background-color: #fff;
        position: absolute;
        z-index: 1;
    }
    
    .text {
        width: 50%;
    }
    
    #certificates h2 {
            text-align: center;
            margin: 0 auto;
            margin-bottom: 10%;
            font-size: 1.2rem;
            margin-top: 20%;
    }
    
    #certificates .servicii p {
        padding-left: 1%;
        margin-top: 1%;
        font-size: 1.2rem;
    }
    
    
    #certificates ul li {
        align-self: flex-end;
        list-style: none;
        color:  rgb(14, 14, 14);
        font-size: 1.1rem;
        margin-right: 10%;
        margin-top: 1%;
        text-align: justify;
    }
    
    }
    
    
    @media screen and (max-width: 1139px) {
    
    #certificates h2 {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10%;
        font-size: 1em;
        margin-top: 20%;
    }
    
    #certificates .servicii p {
        padding-left: 1%;
        margin-top: 1%;
        font-size: 1rem;
    }
    
    
    #certificates ul li {
        align-self: flex-end;
        list-style: none;
        color:  rgb(14, 14, 14);
        font-size: 1.1rem;
        margin-right: 10%;
        margin-top: 1%;
        text-align: justify;
    }
    
    }
    
    
    @media screen and (max-width: 975px) {

        #certificates {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }

        .backgroundServicii {
            width: 26%;
            margin-top: 48%;
            margin-left: 6%;
            margin-bottom: 10%;
            background-color: #fff;
            position: absolute;
            z-index: 1;
        }


        .pozaServicii {
            margin-bottom: 0px;
            margin-top: 15%;
        }
    
    .text {
        margin-bottom: 0px;
    }
    
    #certificates h2 {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10%;
        font-size: 1.2em;
        margin-top: 20%;
    }
    
    #certificates .servicii p {
        padding-left: 1%;
        margin-top: 1.2%;
        font-size: 1em;
    }
    
    
    #certificates ul li {
        align-self: flex-end;
        list-style: none;
        color:  rgb(14, 14, 14);
        font-size: 1.3em;
        margin-right: 10%;
        margin-top: 1%;
        text-align: justify;
    }
    
    }
    
    
    @media screen and (max-width: 768px) {
    
        
        
    
        #certificates h2 {
            text-align: center;
            margin: 0 auto;
            margin-bottom: 10%;
            font-size: 0.9em;
            margin-top: 20%;
        }
        
        #certificates .servicii p {
            padding-left: 1%;
            margin-top: 1%;
            font-size: 0.9em;
            width: 100%;
        }
        
        
        #certificates ul li {
            align-self: flex-end;
            list-style: none;
            color:  rgb(14, 14, 14);
            font-size: 0.9em;
            margin-right: 10%;
            margin-top: 1%;
            text-align: justify;
            width: 100%;
        }
    }
    
    
    @media screen and (max-width: 500px ) {
    
        
        #certificates {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            margin-bottom: 10%;
        }
    
        .servicii-imagine {
            display: flex;
            margin-bottom: 0;
            margin: 20px auto;
        }
    
        .pozaServicii {
            width: 65%;
            justify-content: center;
            position: relative;
        }
    
        .backgroundServicii {
            width: 27%;
            margin-top: 52%;
            margin-left: 8%;
            margin-bottom: 10%;
            background-color: #fff;
            position: absolute;
            z-index: 1;
        }
    
        .text {
            margin-top: 1%;
            margin: 0 auto;
        }
    
    
    
        #certificates ul li {
            align-self: flex-end;
            list-style: none;
            color:  rgb(14, 14, 14);
            font-size: 0.6em;
            margin-right: 10%;
            margin-top: 1%;
            text-align: justify;
            width: 100%;
        }
    
        #certificates h2 {
            text-align: center;
            margin: 0 auto;
            margin-bottom: 10%;
            font-size: 0.58em;
            margin-top: 25%;

        }
    
    }

