:root {
    --txtColor: #164505;
    --verdecolor: #1c5707;
    --turcoazcolor: #4CCE8E;
    --hoverColor: #4CCE8E;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
    display: flex;
}

nav {
    width: 100vw;
}

li.nav-item > a:hover {
    color: #1c5707;
}

li.nav-item {
    list-style: none;
    margin-top: 2%;
    margin-right: 2%;
    font-size: 16px;
    color: var(--verdecolor);
    font-weight: bold;
    display: flex;
    padding: 2%;
}

.nav-item.button {
    background-color: var(--turcoazcolor);
    padding-left: 3.4%;
    padding-right: 3.4%;
    border-radius: 10px;
    
}


.container-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    z-index: 101;
    position: relative;
    width: 100%;
}

.logo {
    margin-left: 15%;
}

.iteme {
    width: 50%;
}

.logo {
   width: 100%;
   display: flex;
   margin-left: 3%;
}

.logo-icon {
    width: 100px;
   
}

.titluri {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    width: 272px;
    
}


.telefon-icon {
    margin-right: 20px;
    width: 20px;
    height: 20px;
}

.iteme {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
}    

 



.dropdown {
    position: absolute;
    display: none;
    /* height: 240px; */
    width: 265px;
    margin-top: 30px;
    background-color: #4CCE8E;
    border-radius: 20px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
}

.dropdown > a {
    display: block;
    font-size: 1.12rem;
    margin: 12px 0;
    color: black;
    text-align: left;
    padding: 0 12px;
}

.dropdown > a:hover{
    color: #ffffff;
}

a:visited {
    color: black;
}






/* Burger */

#containerBurger, #containerLogoBurger, #burgerListContainer {
    display: none;
    z-index: 1000;
}






/* Footer */

    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: var(--turcoazcolor);
        margin-top: 8%;
        height: 250px;
    }
    
    .logoFooter {
        
        flex-direction: row;
       
        
    }

    .titluriFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .logo-footer {
        width: 90px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 2%;
    
    }
    
    .textFooter {
        position: relative;
        align-self: center;
        
        color: #181717;
        font-size: 10px;
        margin-bottom: 10px;
    }    

    #logoFooter {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #imgLogoCabinet {
        width: 80px;
        height: auto;
    }

    #imgLogoCOPSI {
        width: 160px;
        height: 80px;
    }
    
    .titluriFooter > h1 {
        text-align: center;
    }

    .titluriFooter > h4 {
        text-align: center;
    }

    .textFooter {
        text-align: center;
    }


@media screen and (max-width: 999px) {
    .container-nav {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        width: 313px;
    }

    .logo-icon {
        width: 60px;
    }


    .iteme {
        display: none;
    }

    .telefon-icon {
        display: none;
    }

    .telefon {
        display: none;
    }

    #backdrop {
        display: none;
        position: absolute;
        width: 100vw;
        height: 100%;
        z-index: 52;
        background: rgba(0, 0, 0, 0.4);
        overflow: hidden;
    }

    #containerBurger {
        display: flex;
        
    }

    
    #containerLogoBurger {
        display: flex;
        position: relative;
        width: 60px;
        height: 50px;
        margin-right: 30px;
        border: 4px solid var(--turcoazcolor);
        background-color: white;
        transition: all .5s ease-in-out ;
    }

    #burgerLine {
        background: var(--turcoazcolor);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 40px;
        height: 5px;
        border-radius: 10px;
        transition: all .5s ease-in-out ;
    }
    
    #burgerLine::before, #burgerLine::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 5px;
        border-radius: 10px;
        background: var(--turcoazcolor);
        transition: all .5s ease-in-out ;
    }
    
    #burgerLine::before {
        transform: translateY(-10px);
    }
    
    #burgerLine::after {
        transform: translateY(10px);
    }
    
    #containerLogoBurger.open {
        border: none;
    }
    
    #containerLogoBurger.open #burgerLine {
        background: transparent;
    }
    
    #containerLogoBurger.open #burgerLine::before {
        transform: rotate(-45deg);
    }
    #containerLogoBurger.open #burgerLine::after {
        transform: rotate(45deg);
    }
    #containerBurgerStuff {
        padding-top: 50px;
        padding-bottom: 10px;
        display: none;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #burgerListContainer {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 100vh;
        background-color: white;
        z-index: 100;
        transition: all .5s ease-in-out ;
    }
    
    #burgerListContainer > ul {
        transition: all 0.5s ease-in;
    }
    
    li.burgerItem {
        list-style: none;
        margin: 20px 30px;
        font-size: 1rem;
        color: #164505;
        font-weight: bold;
        transition: 0.5s ease-in-out;
    }

    li.burgerItem > #serviciiHeaderBurger {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    li.burgerItem > #serviciiHeaderBurger > #btnBurgerDropdownContainer {
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in;
    }

    li.burgerItem > #serviciiHeaderBurger > #btnBurgerDropdownContainer > #btnBurgerDropdown {
        display: hidden;
        width: 1px;
        height: 15px;
    }

    li.burgerItem > #serviciiHeaderBurger > #btnBurgerDropdownContainer:hover {
        cursor: pointer;
    }

    li.burgerItem > #serviciiHeaderBurger > #btnBurgerDropdownContainer.pressed {
        rotate: 180deg;
    }

    li.burgerItem > #serviciiHeaderBurger > #btnBurgerDropdownContainer > #btnBurgerDropdown::before {
        content: "";
        position: absolute;
        height: 10px;
        width: 1px;
        background-color: rgb(0, 0, 0);
        transform: translate(-4.5px);
        rotate: -45.5deg;
    }

    li.burgerItem > #serviciiHeaderBurger > #btnBurgerDropdownContainer > #btnBurgerDropdown::after {
        content: "";
        position: absolute;
        height: 10px;
        width: 1px;
        background-color: rgb(0, 0, 0);
        transform: translateX(4.5px);
        rotate: 45.5deg;
    }

    li.burgerItem > #serviciiLinksBurger {
        position: relative;
        overflow: hidden;
        max-height: 0;
        transition: 0.3s ease-in;
        padding-left: 10px;
        font-size: smaller;
    }

    li.burgerItem > #serviciiLinksBurger > a {
        padding: 5px 0;
    }

    li.burgerItem > #serviciiLinksBurger > a:hover {
        color: --hoverColor;
    }

    #burgerBtn-Phone {
        display: flex;
        justify-content: space-between;
        width: 85%;
        margin: 0 auto;
    }

    #burgerContactBtn {
        width: 45%;
    }

    button.burgerItem {
        background-color: #4CCE8E;
        padding: 10px 30px;
        border-radius: 15px;
        border: solid #4CCE8E ;
        font-size: 1rem;
    }

    #phoneNumber {
        display: flex;
        justify-content: space-between;
        width: 45%;
    }

    #phoneNumber > img {
        width: 20px;
        height: auto;
    }

    #phoneNumber > a {
        display: none;
    }

    #burgerLogo {
        width: 90%;
        margin: 0 auto;
    }

    #logoIconBurger {
        width: 25%;
        height: auto;
    }

    #burgerLogoText {
        width: 75%;
    }

    #burgerLogoText > h1 {
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
    }
    #burgerLogoText > h4 {
        font-size: 0.9rem;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .titluri {
        width: 168px;
    }

    .titluri > h1 {
        font-size: 0.9em;
    }

    .titluri > h4 {
        font-size: .77em;
    }

    .logo {
        width: 234px;
    }

    #burgerListContainer{
        height: 95vh;
    }

    #containerLogoBurger {
        margin-right: 20px;
        width: 40px;
        height: 35px;
        border-width: 3.5px;
    }

    #burgerLine {
        width: 30px;
        height: 3.5px;
        border-radius: 10px;
        
    }
    
    #burgerLine::before, #burgerLine::after {
        width: 30px;
        height: 3.5px;
        border-radius: 10px;
    }

    #burgerLine::before {
        transform: translateY(-7.5px);
    }
    
    #burgerLine::after {
        transform: translateY(7.5px);
    }

    li.burgerItem {
        font-size: 0.8rem;
    }

    li.burgerItem > #serviciiLinksBurger {
        font-size: 0.6rem;
    }

    button.burgerItem { 
        font-size: 0.8rem;
        padding: 5px 10px;
        border-radius: 15px;
        border: solid #4CCE8E;
    }

    #burgerBtn-Phone > #phoneNumber {
        width: 50%;
        display: none;
    }

    #burgerBtn-Phone > #phoneNumber > a {
        font-size: 0.8rem;
    }

    #burgerBtn-Phone > #phoneNumber > img {
        width: 10px;
    }

    #logoIconBurger {
        width: 15%;
    }

    #burgerLogoText {
        width: 85%;
    }

    #burgerLogoText > h1 {
        font-size: 0.7rem;
        text-align: center;
    }

    #burgerLogoText > h4 {
        font-size: 0.7rem;
        text-align: center;
    }
    

    .titluriFooter > h1 {
        font-size: 1em;
    }

    .titluriFooter > h4 {
        font-size: 0.8em;
    }


}

@media screen and (max-width: 290px) {
    .titluri {
        width: 128px;
    }

    .logo {
        width: 158px;
    }

    .logo > img {
        width: 30px;
    }

    .titluri > h1 {
        font-size: .77em;
    }

    .titluri > h4 {
        font-size: .5em;
    }
}
