:root {
    --txtColor: #164505;
    --verdecolor: #164505;
    --turcoazcolor: #4CCE8E;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
    display: flex;
}

nav {
    width: 100%;
}


.container-nav {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    z-index: 2;
    position: relative;
}

.logo {
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: 50%;
}

.logo-icon {
    width: 100px;
    display: flex;
    flex-direction: row;
}

.titluri h1 {
    display: flex;
    font-size: 20px;
    align-self: flex-end;
    margin-top: 20px;
    color: rgb(12, 12, 12)
}

.telefon-icon {
    margin-left: 15px;
    width: 25px;
}

.telefon {
    align-self: center;
    margin-left: 0px;
    color: #164505;
    font-size: 16px;
    flex-direction: row;
    display: flex;
}

.iteme {
    display: flex;
    flex-direction: row;
    width: 50%;
}

button.nav-item {
    cursor: pointer;
}

a button.nav-item {
   margin: 0;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
    
}

li.nav-item {
    list-style: none;
    margin: 10px;
    font-size: 14px;

    font-weight: bold;
    text-align: center;
}

.dropdown {
    position: absolute;
    display: none;
    /* height: 240px; */
    width: 265px;
    margin-top: 30px;
    background-color: #4CCE8E;
    border-radius: 20px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
}

.dropdown > a {
    display: block;
    font-size: 1.12rem;
    margin: 12px 0;
    color: black;
    text-align: left;
    padding: 0 12px;
}

.dropdown > a:hover{
    color: #ffffff;
}

a:visited {
    color: black;
}

button.nav-item {
    background-color: var(--turcoazcolor);
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 15px 40px;
    border-radius: 20px;
    border: solid var(--turcoazcolor);
    font-size: 14px;
}

.iteme a:hover{
    color: #2f8b0d;
}



/* Burger */

#containerBurger, #containerLogoBurger, #burgerListContainer {
    display: none;
}



@media screen and (max-width: 768px) {
    .container-nav {
        display: flex;
        justify-content: space-around;
    }

    .logo {
        width: 75%;
    }

    .iteme {
        display: none;
    }

    .telefon-icon {
        display: none;
    }

    .telefon {
        display: none;
    }

    #backdrop {
        display: none;
        position: absolute;
        width: 1000vw;
        height: 1000vh;
        z-index: 52;
        background: rgba(0, 0, 0, 0.4);
        overflow: hidden;
    }

    
    #containerBurger {
        display: flex;
        
    }

    #containerLogoBurger {
        display: flex;
        position: relative;
        width: 60px;
        height: 50px;
        border: 4px solid var(--turcoazcolor);
        background-color: white;
        transition: all .5s ease-in-out ;
    }

    #burgerLine {
        background: var(--turcoazcolor);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 40px;
        height: 5px;
        border-radius: 10px;
        transition: all .5s ease-in-out ;
    }

    #burgerLine::before, #burgerLine::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 5px;
        border-radius: 10px;
        background: var(--turcoazcolor);
        transition: all .5s ease-in-out ;
    }

    #burgerLine::before {
        transform: translateY(-10px);
    }

    #burgerLine::after {
        transform: translateY(10px);
    }

    #containerLogoBurger.open {
        border: none;
    }

    #containerLogoBurger.open #burgerLine {
        background: transparent;
    }

    #containerLogoBurger.open #burgerLine::before {
        transform: rotate(-45deg);
    }
    #containerLogoBurger.open #burgerLine::after {
        transform: rotate(45deg);
    }

    #burgerListContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 0;
        padding-top: 100px;
        right: -400px;
        width: 300px;
        height: 100vh;
        background-color: white;
        z-index: 100;
        transition: all .5s ease-in-out ;
    }

    #burgerListContainer.bContainerOpen {
        right: 0;
    }

    li.burgerItem {
        list-style: none;
        margin: 20px 30px;
        font-size: 18px;
        color: #164505;
        font-weight: bold;
    }

    #burgerBtn-Phone {
        display: flex;
        justify-content: space-between;
        width: 85%;
        margin: 0 auto;
    }

    #burgerContactBtn {
        width: 45%;
    }

    button.burgerItem {
        background-color: #4CCE8E;
        padding: 10px 30px;
        border-radius: 15px;
        border: solid #4CCE8E ;
        font-size: 1rem;
    }

    #phoneNumber {
        display: flex;
        justify-content: space-between;
        width: 45%;
    }

    #phoneNumber > img {
        width: 20px;
        height: auto;
    }

    #phoneNumber > a {
        padding: 10px 0;
        font-size: 1rem;
        font-weight: bold;
    }

    #burgerLogo {
        width: 90%;
        margin: 0 auto;
    }

    #logoIconBurger {
        width: 25%;
        height: auto;
    }

    #burgerLogoText {
        width: 75%;
    }

    #burgerLogoText > h1 {
        font-size: 1.2rem;
    }
    #burgerLogoText > h4 {
        font-size: 0.9rem;
    }
}


/* Footer */

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: var(--turcoazcolor);
    margin-top: 4%;

}


.logoFooter {
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: 100%;
}

.titluriFooter {
    width: 100%;
    color: rgb(14, 14, 14)
}

.logo-footer {
    width: 4%;
    display: flex;
    flex-direction: row;
    margin: 5px;
    margin-left: 2%;
    
}

.textFooter {
    display: flex;
    position: relative;
    align-self: center;
    justify-content: center;
    color: rgb(14, 14, 14);
    font-size: 19px;
    width: 200%;
}

