* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --verdecolor: #164505;
    --turcoazcolor: #4CCE8E;
}

body {
    display: flex;
    flex-direction: column;
}

li.nav-item {
    
    list-style: none;
    margin: 20px 40px;
    font-size: 14px;
    color: var(--verdecolor);
    font-weight: bold;
    
    
}

button.nav-item {
    background-color: var(--turcoazcolor);
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 20px 40px;
    border-radius: 20px;
    border: solid var(--turcoazcolor) ;
    font-size: 14px;
}

.container-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.logo {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.titluri {
    align-self: center; 
}

.logo-icon {
    width: 10%;
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.telefon {
    align-self: center;
    margin-left: 10px;
    color: #164505;
    font-size: 16px;
}


.telefon-icon {
    margin-left: 100px;
    width: 2%;
}

.iteme {
    display: flex;
    flex-direction: row;
    margin-right: 150px;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}


.text{
    font-size: 80px;
    margin-top: 50px;
    margin-left: 120px;
}

main h5 {
    font-size: 20px;
    font-weight: 100;
    margin-top: 50px;
    margin-left: 120px;
}

main span {
    color: var(--turcoazcolor);
}


.info {
    z-index: 0;
    display: flex;
    flex-direction: row;
}
.contact {
    background-color: var(--turcoazcolor);
    margin-left: 110px;
    margin-top: 50px;
    padding: 20px 100px;
    border-radius: 20px;
    border: solid var(--turcoazcolor) ;
    font-size: 16px;
}


.info p {
   align-self: center;
   margin-top: 50px;
   margin-left: 100px;
}

.imagini {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.poza-v1 {
    position: absolute;
    z-index: 10;
    width: 29%;
    margin-left: 1000px;
    margin-top: 300px;
    align-self: flex-end;
}

.poze-v2 {
    position: absolute;
    z-index: 9;
    width: 23%;
    margin-left: 1460px;
    margin-top: 200px;
    height: 800px;
    align-self: flex-end;
}


.background {
    position: absolute;
    z-index: 1;
    background-size: 20px 10px;
    margin-top: 200px;
    
}

.topics {
    display: flex;
    align-items: flex-start;
}

.topics h2 {
    position: relative;
    z-index: 2;
    margin-top: 370px;
    font-size: 50px;
    margin-left: 200px;
    color: #fff;
    font-weight: 100;
}

.topics span {
    color: var(--verdecolor);
}

/* CAROUSEL */


.slides-container{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 50px;
}


.slides-container li {
    list-style: none;
    width: 60%;
    position: relative;
    text-align: center;
    margin-left: 80px;
}


.buttons {
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 1;
    margin-top: 10px;
    margin-left: 200px;

  }
  
  .buttons
  .prev, 
  .next {
    font-size: 40px;
    background-color: var(--turcoazcolor);
    border-radius: 15px;
    padding-left: 20px;
    padding-top: 10px;
    border-color: var(--turcoazcolor);
  }

  .offscreen {
    text-align: center;
    padding-right: 10px;
    color: #42B07A;
    position: relative;
  }

  .buttons .next {
    margin-left: 200px;
    
  }

.slides-container h1 {
    position: relative;
    z-index: 2;
    margin-left: 200px;
    margin-top: 00px;
    color: var(--verdecolor);
}

.slides-container p {
    position: relative;
    z-index: 2;
    margin-left: 200px;
    margin-top: 20px;
    width: 55%;
    color: var(--verdecolor);
}

/* END OF THE CAROUSEL */
