* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #4CCE8E;
}

.container-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.logo {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.logo-icon {
    width: 10%;
    display: flex;
    flex-direction: row;
    margin: 5px;
}
.titluri {
    align-self: center;
    padding-left: 10px;
}


.text {
    align-self: center;
    margin-left: 10px;
    color: #fff;
    font-size: 19px;
}






