body {
    background-repeat: no-repeat;
    background-size: 500px 500px;
    background-position: 67vw 60%;
}

.buttons {
    width: 49%;
    height: 50px;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
}

#mainContentAboutMe {
    /* position: relative; */
    display: grid;
    width: 85vw;
    margin: 0 auto;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 5px;
    grid-template-rows: repeat(16, 60px);
    row-gap: 5px;
}

#about {
    grid-area: 2 / 1 / 5 / 8;
}

#about h1{
    margin-right: 0%;
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    width: 100%;
}

h1 span{
    align-self: center;
    font-size: 2.2rem;
    color: #000;
    margin-right: 10px;
}


#about h1 {
    display: flex;
    justify-content: flex-start;
    color: #4CCE8E;
}


#about p{
    font-size: 1.2rem;
    text-indent: 40px;
    margin: 20px 0;
    width: 80%;
}

a #buttonOffer {
    width: 100%;
}

a #buttonContact {
    width: 0%;
}

.buttons#buttonOffer {
    position: absolute;
    background-color: #4CCE8E;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    width: 20%;
}

.buttons#buttonOffer:hover {
    background-color: #55eba0;
}

.buttons#buttonContact{
    position: absolute;
    background: none;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 30%;
    cursor: pointer;
}

.buttons#buttonContact:hover {
    text-decoration: underline #4CCE8E 3px;
}

#aboutPhoto {
    grid-area: 1 / 9 / 4 / 12;
    width: 100%;
}

#aboutPhoto #imgPhoto {
    max-width: 320px;
    height: auto;
}

#certificates {
    display: flex;
    flex-direction: column;
    grid-area: 10 / 4 / 18 / 10;
    width: 100%;
}

#certificates h2 {
    font-size: 2.2rem;
    margin-bottom: 35px;
    margin: 0 auto;
}

#certificates ul {
    margin: 0 auto;
    flex-grow: 0;
}

#certificates ul li {
    list-style: none;
    color:  black;
    font-size: 1.2rem;
    margin-bottom: 20px;
    width: 100%;
}

#certificates ul li::before {
    padding: 5px;
    content: "Ｏ";
    font-size: 1.2rem;
    color: #4CCE8E;
}
