:root {
    --txtColor: #164505;
}




.mainContentContact {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 5px;
    grid-template-rows: repeat(18, 40px);
    row-gap: 5px;
    width: 85%;
    margin: 0 auto;
    border: var(--txtColor);
}

.txtContact  {
    color: var(--txtColor);
    font-size: 1.2rem;
    font-weight: 600;
}

.txtProgram {
    font-size: 1.2rem;
    grid-area: 13 / 2 / 13 / 7;
}

.txtProgram > p {
    margin-bottom: 2%;
}

.txtProgram span {
    color: var(--txtColor);
    font-weight: bold;
}

.contactTxtTitle {
    grid-area: 3 / 2 / 3 / 3;
}

.contactTxtUnderline {
    position: absolute;
    bottom: 0;
    grid-area: 3 / 2 / 3 / 3;
    width: 92px;
    height: 3px;
    outline: none;
    border-radius: 5px;
    background-color: #4CCE8E;
}

.icon {
    height: 30px;
    width: auto;
}

#locationIcon {
    grid-area: 5 / 1 / 5 / 1;
    justify-self: center;
}

#locationAddress {
    grid-area: 5 / 2 / 5 / 6;
    margin: 0;
}

#phoneIcon {
    grid-area: 7 / 1 / 7 / 1;
    justify-self: center;
    
}

#phoneNumber {
    grid-area: 7 / 2 / 7 / 6;
    margin: 0;
    
}

#facebookIcon {
    grid-area: 9 / 1 / 9 / 1;
    justify-self: center;
}

#facebookLink {
    grid-area: 9 / 2 / 10 / 6;
}

#emailIcon {
    grid-area: 11 / 1 / 11 / 1;
    justify-self: center;
}

#mailAddress {
    grid-area: 11 / 2 / 11 / 6;
}

#ProgramIcon {
    grid-area: 13 / 2 / 13 / 1;
    justify-self: center;
}

/* Map */

#location-on-map {
    grid-area: 3 / 8 / 12 / 13;
    width: 100%;
    height: auto;
}

#location-on-map > iframe {
    width: 100%;
    height: 100%;
}


@media screen and  (max-width: 1200px){
    .mainContentContact {
        width: 95%;
    }
}


@media screen and (max-width: 914px) {
    #phoneIcon {
        grid-area: 8 / 1 / 8 / 1;
        justify-self: center;
        
    }
    
    #phoneNumber {
        grid-area: 7 / 2 / 7 / 6;
        margin: 0;
        margin-top: 15%;
    }
}


@media screen and (max-width: 850px) {
    .mainContentContact {
        grid-template-rows: repeat(21,45px);
    }

    #location-on-map {
        grid-area: 18 / 1 / 41 / 13;
        width: 100%;
        height: auto;
       
    }


    #locationAddress {
        grid-area: 5 / 2 / 5 / 13;
        margin: 0;
    }

    #cabinetName {
        grid-area: 3 / 2 / 3 / 8;
        place-self: start;
        margin: 0;
        font-size: 1rem;
    }

    #phoneIcon {
        grid-area: 7 / 1 / 7 / 1;
        justify-self: center;
        
    }
    
    #phoneNumber {
        grid-area: 7 / 2 / 7 / 6;
        margin: 0;
        
    }

}

@media screen and (max-width: 450px) {
    .mainContentContact {
        grid-template-columns: repeat(6, 1fr);
    }

    .txtContact {
        color:  var(--txtColor);
        font-size: 0.9rem;
        font-weight: 600;
    }

    .contactTxtTitle {
        grid-area: 3 / 2 / 3 / 13;
        text-align: center;
    }
    
    .contactTxtUnderline {
        grid-area: 3 / 2 / 3 / 13;
        justify-self: center;
    }
    
    #locationIcon {
        grid-area: 5 / 1 / 5 / 2;
        justify-self: center;
    }
    
    #locationAddress {
        grid-area: 5 / 2 / 5 / 13;
        text-align: center;
        justify-self: center;
        margin: 0;
    }
    
    #phoneIcon {
        grid-area: 7 / 1 / 7 / 1;
        justify-self: center;
    }
    
    #phoneNumber {
        grid-area: 7 / 2 / 7 / 13;
        text-align: center;
        justify-self: center;
        margin: 0;
    }
    
    #facebookIcon {
        grid-area: 9 / 1 / 9 / 1;
        justify-self: center;
    }
    
    #facebookLink {
        grid-area: 9 / 2 / 10 / 13;
        text-align: center;
        justify-self: center;
    }
    
    #emailIcon {
        grid-area: 11 / 1 / 11 / 1;
        justify-self: center;
    }
    
    #mailAddress {
        grid-area: 11 / 2 / 11 / 13;
        text-align: center;
        justify-self: center;
    }
    .txtProgram > p{
        text-align: center;
        justify-self: center;
    }
    
}