/* INTRO OF THE PAGE */

button:hover {
    color: #164505;
}


.intro {
    display: flex;
    width: 100%;
}

.descriere {
    width: 50%;
    height: 300px;
}

.info {
    display: flex;
    width: 50%;
}



.poza-v1 {
    position: absolute;
    z-index: 2;
    width: 20%;
    margin-top: 5%;
    margin-left: 5%;
}

.poze-v2 {
    position: absolute;
    z-index: 1;
    width: 20%;
    margin-left: 20%;
    margin-top: 3%;
    height: auto;
}


.descriere h5 {

    width: 79%;
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 140px;
    margin-left: 20%;
    text-align: start;
    color: rgb(14, 14, 14);
}



main span {
    font-weight: bold;
    color: var(--turcoazcolor);
}

.sub {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 70%;
    justify-content: space-around;
    margin: 120px auto;
}

.contact {
    background-color: var(--turcoazcolor);
    margin-top: 4%;
    position: relative;
    padding: 10px 50px;
    border-radius: 20px;
    border: solid var(--turcoazcolor);
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    color: rgb(14, 14, 14)
}



.learn-more {
    width: 100%;
    font-size: 15px;
    padding: 10px;
    background: #fff;
    border: none;
    position: relative;
    margin-bottom: 1%;
    justify-content: space-around;
    display: flex;
    list-style: none;
    cursor: pointer;

}

.learn-more a:hover {
    color: #164505;
}




/* MIDDLE OF THE PAGE */


.mid {
    margin-top: 25%;
}

.background {
    position: absolute;
    width: 100%;
    height: auto;
}


.topics {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.topics h2 {
    position: relative;
    z-index: 2;
    margin-top: 5%;
    font-size: 2rem;
    margin-left: 9%;
    color: #fff;
    font-weight: 100;
    width: 120%;
}

.topics span {
    color: var(--turcoazcolor);
}

/* CAROUSEL */


#slider {
    width: 100%;
    height: 400px;
    margin-top: 2%;
    position: absolute;
    overflow: hidden;
    float: left;
    padding: 0;
    border: #666 solid 2px;
    border-radius: 5px;
    min-width: 200px;
}

#slider>h1 {
    text-align: center;
    margin-bottom: 20px;
}

#container {
    width: 49%;
    margin-left: 10%;
    height: 200px;
    position: relative;

}

#slider>p {
    margin: 0;
    padding: 0 35px 0 0;
}


#slider img {
    width: 100%;
    height: auto;
}

#slider>.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
    width: 100%;
    margin: 0;
    padding: 0;
}


.slide {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide:nth-child(1) {
    background: #ce6868;
}

.slide:nth-child(2) {
    background: #9ab6b6;
}

.slide:nth-child(3) {
    background: #98cc98;
}

.slide:nth-child(4) {
    background: #e7b892;
}

.slide:nth-child(5) {
    background: #c4ad43;
}


.slide-copy h2 {
    color: #fff;
}

.slide-copy {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 20px 20px 20px;
    background: 7f7f7f;
    background: rgba(14, 13, 13, 0.5);
    width: 100%;
    max-height: 32%;
}


#prev,
#next {
    cursor: pointer;
    position: absolute;
    top: 100%;
    width: auto;
    padding: 16px;
    margin-top: -10%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6 ease;
    border-radius: 0 3px 3px 0;
}

#container>.buttons {
    display: flex;
}

#next {
    right: 0;
}


.arrow-right {
    float: left;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #fff;
    position: relative;
    top: 20%;
    right: 40%;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid #fff;
    position: relative;
    top: 20%;
    left: 30%;
}



/* END OF THE CAROUSEL */


/* Servicii Home Page */

.servicii {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    position: relative;
}


.listaServicii {
    display: none;
}

.backgroundServicii {
    width: 20%;
    margin-top: 29%;
    margin-left: 6%;
    background-color: #fff;
    position: absolute;
    z-index: 1;
}

.pozaServicii {
    width: 20%;
    position: absolute;
    z-index: 2;
    margin-left: 8%;
    margin-top: 3%;
}


.listaServicii {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: left;
    z-index: 1;
    list-style: none;
    align-items: center;

    width: 100%;
    margin-top: 5%;

}


.exemple>p {
    font-size: 2.4rem;
}


.exemple {
    width: 50%;
    margin-left: 35%;
    margin-top: 1%;
    color: #181717;

}

.ico {
    display: flex;
    align-items: flex-start;
    width: 50%;
    justify-content: flex-start;
    margin-left: 26%;
}

.iconite {
    display: flex;
    position: absolute;
    width: 3.5%;
    display: flex;
    margin-top: 1%;
}



.listaServicii h3 {
    margin-top: 2%;
    font-weight: lighter;
}


.mai-multe {
    position: relative;
    z-index: 2;
    margin-top: 30%;
    padding: 25px 50px;
    background-color: var(--turcoazcolor);
    border-radius: 20px;
    border: solid var(--turcoazcolor);
    font-size: 20px;
    color: #181717;
    cursor: pointer;
}

.ServiciiMore {
    margin-left: 2%;
}


@media screen and (max-width: 1535px) {


    .sub {
        
        margin: 50px auto;
    }

    .poza-v1 {
        margin-top: 8.5%;
    }

    .poze-v2 {
        margin-top: 7%;
    }



    .learn-more {
        position: relative;

    }

    .topics h2 {
        margin-top: 2%;
        font-size: 1.5rem;
        margin-left: 10%;
    }

    #container {
        width: 50%;
        height: 10%;
    }

    #slider {
        height: 150%;
    }

    #slider img {
        width: 100%;
    }

    #next {
        height: auto;
    }

    .background {
        height: auto;
    }


    .arrow-right {
        float: left;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid #fff;
        position: relative;
        top: 20%;
        right: 40%;
    }

    .arrow-left {
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 20px solid #fff;
        position: relative;
        top: 20%;
        left: 30%;
    }

}



@media screen and (max-width: 1200px) {


    .contact {
        padding: 6px;
        font-size: 1rem;
    }

    .learn-more {
        padding: 10px;
        font-size: 1rem;
    }


    .mid {
        margin-top: 28%;
    }

    .exemple>p {
        margin-top: 10%;
    }


    .pozaServicii {
        margin-top: 10%;
    }

    .backgroundServicii {
        margin-top: 35%;
    }

}

@media screen and (max-width: 1079px) {



    .learn-more {
        font-size: 1.9rem;
    }


    .descriere>h1 {
        font-size: 2.5rem;
    }

    .learn-more {
        margin-bottom: 1.5%;
        font-size: 0.8rem;
    }

    .topics>h2 {
        font-size: 1.5rem;
        width: 1000px;
    }

    .background {
        height: auto;

    }

    #container {
        height: 8.5%;
    }

    .slide-copy {
        font-size: 0.8rem;
    }


    .arrow-right {
        float: left;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid #fff;
        position: relative;
        top: 20%;
        right: 40%;
    }

    .arrow-left {
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 20px solid #fff;
        position: relative;
        top: 20%;
        left: 30%;
    }

}



@media screen and (max-width: 999px) {

    .descriere {
        width: 60%;
    }

    .descriere h5 {
        width: 85%;
    }

    .descriere button {
        font-size: 0.8rem;
    }


    .descriere h5 {
        font-size: 1.2rem;
    }


    .poza-v1 {
        margin-left: 4%;
    }

    .topics h2 {
        font-size: 1.2rem;
    }

    .background {
        height: 400px;
    }

    #container {
        height: 7.5%;
    }

    .slide-copy {
        font-size: 0.7rem;
    }

    #next,
    #prev {
        margin-top: -10%;
    }

    .arrow-right {
        float: left;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #fff;
        position: relative;
        top: 20%;
        right: 40%;
    }

    .arrow-left {
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid #fff;
        position: relative;
        top: 20%;
        left: 30%;
    }


    .servicii {
        margin-top: 15%;
    }


    .iconite {
        width: 5%;
        padding-right: 1.5%;
    }

    .servicii p {
        width: 100%;
        font-size: 1.8rem;
    }

    .servicii h1 {
        font-size: 1.2em;
    }

    .servicii h3 {
        font-size: 1rem;
        width: 90%;
    }

    .mai-multe {
        font-size: 0.8rem;
        padding: 10px;
        border-radius: 10px;
    }

}


@media screen and (max-width: 768px) {


    .descriere {
        width: 100%;
        margin-right: 10%;
    }

    .descriere h5 {
        width: 100%;
        font-size: 1rem;
    }


    .sub {
        margin-left: 10%;
        width: 100%;
        margin-top: 40px;
    }


    .poza-v1 {
        width: 20%;
        margin-top: 25%;
        
    }

    .poze-v2 {
        margin-left: 15%;
        width: 25%;
        margin-top: 15%;
    }

    .info {
        margin: 0 auto;
        display: flex;
        margin-right: 22%;
    }


    .topics h2 {
        font-size: 1rem;
    }

    .mid {
        margin-top: 35%;
    }


    .listaServicii p {
        font-size: 1rem;
    }


    .exemple h1 {
        font-size: 1rem;
    }

    .servicii h3 {
        font-size: 0.9rem;
    }


    .servicii p {
        font-size: 2rem;
        width: 90%;

    }

    .background {
        height: 300px;
    }

    #container {
        height: 6.1%;
    }

    .slide-copy {
        font-size: 0.5rem;
        width: 100%;
    }

    #next,
    #prev {
        display: flex;
        align-items: center;
        margin-top: -15%;
    }


    .arrow-right {
        float: left;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid #fff;
        position: relative;
        top: 20%;
        right: 40%;
    }

    .arrow-left {
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-right: 12px solid #fff;
        position: relative;
        top: 20%;
        left: 30%;
    }
}




@media screen and (max-width: 608px) {

    .sub {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        justify-content: space-around;
        margin: 30px auto;
        margin-left: 10%;
    }

    .descriere h5 {
        font-size: 0.7rem;
    }

    .imaginiTitlu {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .descriere button {
        padding: 1px;
        font-size: 0.6rem;
    }

    .topics h2 {
        font-size: 0.9rem;
    }

    .mid {
        margin-top: 8%;
    }

    .background {
        height: 220px;
    }

    .topics h2 {
        font-size: 0.8rem;
    }

    #container {
        height: 5.1%;
    }

    .slide-copy {
        font-size: 0.38rem;
    }


    #next,
    #prev {
        display: flex;
        align-items: center;
        
    }

    .arrow-right {
        float: left;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #fff;
        position: relative;
       
    }

    .arrow-left {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #fff;
        position: relative;
    }


    .arrow-left,
    .arrow-right {
        font-size: 0.3rem;
    }


    .pozaServicii {
        width: 150px;
        height: 200px;
        display: flex;
        margin: 0 auto;
        background: grey;
        margin-top: 10%;
    }

    .backgroundServicii {
        display: none;
    }


    .listaServicii {
        margin-top: 40%;
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: flex-start;
    }


    .servicii p {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 1.6rem;
    }

    .listaServicii {
        margin-left: 0;
    }

    .exemple h1 {
        margin-left: 5%;
    }

    .exemple h3 {
        margin: 0 auto;
        font-size: 0.8rem;
    }

    .ico {
        margin-left: 4%;
        display: flex;
        align-items: flex-start;
    }

    .ico>img {
        margin-top: 6%;
    }


    .exemple {
        width: 90%;
        margin: 0 auto;
        margin-top: 6%;
    }

    .ServiciiMore {
        margin: 0 auto;
    }

}


@media screen and (max-width: 500px) {

    .intro {
        display: flex;
        flex-direction: column-reverse;
        
    }

    .poza-v1 {
        width: 35%;
        margin-top: 1%;
        margin-right: 20%;
        margin-bottom: 2%;
    }

    .poze-v2 {
        margin-left: 25%;
        width: 38%;
        
        margin-bottom: 40%;
    }

    .info {
        position: relative;
    }


    .descriere h5 {
        font-size: 0.9rem;
        width: 100%;
        justify-content: center;
        margin: auto;
        margin-top: 30%;
        text-align: center;

    }

    .descriere {
        margin: 0px auto;
        width: 81%;
        margin-top: 30%;


    }

    .descriere button {
        padding: 4px;
        font-size: 0.54rem;
    }


    .sub {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: 90%;
        justify-content: space-around;
        margin: 20px auto;
    }

    .imaginiIntro {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin: 0 auto;
    }

    .info {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        margin: 80px auto;
        height: 9%;
    }


    

    .topics {
        width: 100%;
    }

    .topics h2 {
        width: 100%;
        font-size: 62%;
    }

    .background {
        height: 220px;
    }


    #container {
        height: 90px;
        width: 70%;
    }

    .slide-copy {
        font-size: 0.42rem;
    }

    .arrow-right {
        float: left;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid #fff;
        position: relative;
    }

    .arrow-left {
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid #fff;
        position: relative;
    }
    


    .pozaServicii {
        position: relative;
        width: 30%;
        height: 200px;
        margin-top: 70px;

    }


    .listaServicii {
        margin-top: -40px ;
    }


    .ServiciiMore {
        margin-bottom: 10%;
    } 


}


@media screen and (max-width: 378px) {

    .pozaServicii {
        position: relative;
        width: 35%;
        height: 200px;
        margin-top: 70px;

    }

    .topics h2 {
        font-size: 0.52rem;
    }

    #container {
        height: 90px;
        width: 80%;
    }

    .slide-copy {
        font-size: 0.40rem;
    }

}