/* INTRO OF THE PAGE */



button:hover {
    color: #164505;
}


.intro {
    display: flex;
}

.descriere {
    width: 100%;
}

.info {
    display: flex;
    width: 100%;

}


.descriere h1 {
    width: 100%;
    font-weight: 100;
    font-size: 60px;
    margin-top: 50px;
    margin-left: 20%;
    color: rgb(14, 14, 14)
}

.descriere h5 {
    width: 68%;
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 50px;
    margin-left: 20%;
    text-align: start;
    color: rgb(14, 14, 14);
}

main span {
    color: var(--turcoazcolor);
}

.sub {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 100px;
    width: 70%;
    margin-left: 20%;

}

.contact {
    background-color: var(--turcoazcolor);
    margin-top: 4%;
    position: relative;
    padding: 10px 50px;
    border-radius: 20px;
    border: solid var(--turcoazcolor);
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    color: rgb(14, 14, 14)
}



.learn-more {
    font-size: 15px;
    background: #fff;
    border: none;
    position: absolute;
    margin-bottom: 1%;
    margin-left: 300px;


}

.learn-more a:hover {
    color: #164505;
}


.poza-v1 {
    position: absolute;
    z-index: 2;
    width: 25%;
    margin-top: 22%;

}

.poze-v2 {
    position: absolute;
    z-index: 1;
    width: 25%;
    margin-left: 15%;



}


/* MIDDLE OF THE PAGE */


.mid {
    margin-top: 16%;
}

.background {
    position: absolute;
    width: 100%;
}


.topics {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.topics h2 {
    position: relative;
    z-index: 2;
    margin-top: 5%;
    font-size: 2rem;
    margin-left: 10%;
    color: #fff;
    font-weight: 100;
    width: 120%;
}

.topics span {
    color: var(--verdecolor);
}

/* CAROUSEL */

.imaginiSlider {
    width:700px;
}

 #slider {
    position: relative;
    overflow: hidden;
    margin-left: 190px;
    margin-top: 20px;
    border-radius: 4px;
    width: 600px;
  }
  
  #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100px;
    list-style: none;
  }
  
  #slider ul li {
    position: relative;
    display: block;
    float: right;
    margin: 0;
    padding: 0;
    width: 700px;
    height: 300px;
    background: #ccc;
    text-align: center;
    line-height: 300px;
  }
  
  a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
  }
  
  a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
  }
  
  a.control_prev {
    border-radius: 0 2px 2px 0;
  }
  
  a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
  }


/* END OF THE CAROUSEL */


/* Servicii Home Page */

.servicii {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.img-titlu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.imaginiTitlu {
    width: 70%;
}

.backgroundServicii {
    width: 20%;
    margin-top: 30%;
    margin-left: 6%;
    background-color: #fff;
    position: absolute;
    z-index: 1;
}

.pozaServicii {
    width: 24%;
    position: absolute;
    z-index: 2;
    margin-left: 10%;
    margin-top: 5%;

}

.TitluDescriere {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 10%;
    margin-left: 10px;
    width: 80%;

}

.img-titlu span {
    color: var(--verdecolor);

}

.TitluDescriere h1 {
    position: absolute;
    z-index: 2;
    align-self: flex-start;
    justify-content: flex-start;
    width: 32%;
    font-weight: 100;
    font-size: 52px;
}

.TitluDescriere h3 {
    position: relative;
    justify-content: flex-start;
    z-index: 2;
    margin-top: 8%;
    align-items: flex-end;
    width: 40%;
    font-weight: 100;
    font-size: 22px;
    color: var(--verdecolor);
}




.listaServicii {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: left;
    z-index: 1;
    list-style: none;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 5%;
    margin-left: 70px;

}

.exemple {
    width: 50%;
    margin-left: 35%;
    margin-top: 1%;
}

.ico {
    width: 50%;
    margin-left: 25%;
}

.iconite {
    display: flex;
    position: absolute;
    width: 3.5%;
}

.listaServicii h1 {
    font-size: 30px;


}


.listaServicii h3 {
    color: var(--verdecolor);
    margin-top: 2%;
}


.mai-multe {
    position: relative;
    z-index: 2;
    margin-top: 30%;

    padding: 25px 50px;
    background-color: var(--turcoazcolor);
    border-radius: 20px;
    border: solid var(--turcoazcolor);
    font-size: 20px;
    color: #000;
    cursor: pointer;
}

.proba {
    margin-left: 2%;
}


/* Footer */

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: var(--turcoazcolor);
    margin-top: 4%;
}


.logoFooter {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.logo-footer {
    width: 4%;
    display: flex;
    flex-direction: row;
    margin: 5px;
    margin-left: 2%;

}

.textFooter {
    position: relative;
    align-self: center;
    margin-left: 20%;
    color: #fff;
    font-size: 19px;
}