#mainContent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 5px;
    grid-template-rows: repeat(15, 60px);
    row-gap: 5px;
    max-width: 80vw;
    margin: 0 auto;
}

#question {
    grid-area: 2 / 1 / 2 / 6;
    font-size: 2.6rem;
}

#question > span {
    color: #4CCE8E;
}

#questionAnsware {
    grid-area: 6 / 1 / 6 / 6;
    margin-left: 5px;
    font-size: 1.3rem;
}

#imgSection1 {
    grid-area: 2 / 7 / 6 / 12;
    width: 90%;
    height: auto;
    justify-self: center;
}



#step1 {
    grid-area: 11 / 1 / 11 / 4;
}

#step2 {
    grid-area: 11 / 4 / 11 / 8;
}

#step3 {
    grid-area: 11 / 8 / 11 / 13;
}

.imgSolutionIcons {
    width: 40px;
    height: 40px;
}


.stepsTitle {
    display: flex;
    height: 50px;
    margin-bottom: 20px;
}

.stepsTitle > h2 {
    font-size: 1.3rem;
    font-weight: bold;
}

#solutionsBtnLink {
    grid-area: 14 / 1 / 14 / 4;
    width: 100%;
}

#solutionsBtn {
    height: 50px;
    width: 100%;
    border: none;
    font-size: 1.5rem;
    background-color: #4CCE8E;
    border-radius: 10px;
    border: none;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

#solutionsBtn:hover {
    background-color: #55eba0;
}
