:root {
    --txtColor: #164505;
}

#mainArticles {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    column-gap: 0px;
    margin: 0 auto;
    width: 80vw;
    height: 900px;
}

#engeneerImg {
    width: 100%;
    height: auto;
    margin: auto;
    grid-area: 1 1 1 1;
}

#workInProgressTxt {
    grid-column: 1 1 1 1;
    margin: auto auto;
    height: 300px;
    font-size: 5rem;
    color: var(--txtColor);
    
}