* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --verdecolor: #164505;
    --turcoazcolor: #4CCE8E;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #000;
    display: flex;
}


/* CONTENT */

.servicii-imagine {
    width: 50%;
}
.text{
    width: 70%;
} 

.pozaServicii {
    width: 50%;
    position: relative;
    z-index: 2;
    margin-left: 20%;
    margin-bottom: 5%
}

.backgroundServicii {
    width: 14%;
    margin-top: 24%;
    margin-left: 6%;
    margin-bottom: 10%;
    background-color: #fff;
    position: absolute;
    z-index: 1;
}

#certificates {
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
}

#certificates h2 {
    align-self: flex-start;
    margin-bottom: 10%;
    margin-left: 22%;
    font-size: 24px;
}

#certificates .servicii p {
    padding-left: 1%;
    margin-top: 1%;
}

#certificates .servicii-1 p {
    padding-left: 1%;
    margin-top: 1%;
}


#certificates ul li {
    align-self: flex-end;
    list-style: none;
    color:  black;
    font-size: 1.2rem;
    margin-right: 10%;
    margin-top: 1%;
    text-align: justify;
}

#certificates ul li::before {
    padding: 5px;
    content: "Ｏ";
    font-size: 1.2rem;
    color: #4CCE8E;
}

